@CHARSET "UTF-8";
html {
	min-height: 100%;
	position: relative;
}

body {
	backgrond-color: #fff;
	min-height: 100%;
	position: relative;
}

.main-container {
	padding-top: 40px;
}

.main-container > .main-container-inner {
	position: relative;
	min-height: 100%;
}

.sidebar {
	position: fixed;
	float: left;
	background-color: #f2f2f2;
	border-right: 1px solid #ccc;
	width: 190px;
	top: 40px;
	bottom: 0;
	padding-top: 40px;
}

.main-content {
	margin-left: 190px;
	min-height: 100%;
}

.page-content {
	padding: 8px 20px 24px;
}

.breadcrumbs  {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	line-height: 40px;
	min-height: 41px;
	padding: 0 12px 0 0;
}

.breadcrumbs .breadcrumb {
	margin-bottom: 0;
	line-height: 24px;
}