@CHARSET "UTF-8";
html {
	min-height: 100%;
	position: relative;
}

body {
	backgrond-color: #fff;
	min-height: 100%;
	position: relative;
}

.main-container {
	padding-top: 40px;
}

.main-container > .main-container-inner {
	position: relative;
	min-height: 100%;
}

.sidebar {
	position: fixed;
	float: left;
	background-color: #f2f2f2;
	border-right: 1px solid #ccc;
	width: 190px;
	top: 40px;
	bottom: 0;
	left: 0;
	padding-top: 40px;
	transition: display 0.3s ease 0s;
}

.btn-layout-full {
	position: fixed;
	right: 18px;
	top: 45px;
	z-index: 101;
}

.main-content {
	margin-left: 190px;
	min-height: 100%;
	transition: margin-left 0.3s ease 0s;
}

.layout-full .sidebar {
	display: none;
}

.layout-full .main-content {
	margin-left: 0;
}

.page-content {
	padding: 9px 18px 18px;
}

.page-content h1 {
	font-size: 24px;
	font-weight: lighter;
	margin: 9px 0;
}

.page-content h3 {
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	margin: 9px 0;
}

.page-content h1 small {
	font-size: 14px;
	font-weight: normal;
}

.page-header {
	margin: 0 0 18px;
	padding: 9px 0;
	*zoom:1;
}

.page-header:before,
.page-header:after {
	display: table;
	content: "";
	line-height: 0;
}

.page-header:after {
	clear: both;
}

.page-header h1 {
	float: left;
	margin: 0;
}

.page-header .pull-right {
	margin-left: 9px;
}

.breadcrumbs  {
	background-color: #f5f5f5;
	border-bottom: 1px solid #e5e5e5;
	line-height: 40px;
	min-height: 41px;
	padding: 0 12px 0 0;
}

.breadcrumbs .breadcrumb {
	margin-bottom: 0;
	line-height: 24px;
}

.grid-view {
	padding-top: 0;
	margin: 18px 0;
}

.grid-view td {
	word-wrap: break-word;
}

.grid-view .actions {
	margin-bottom: 5px;
}

.grid-view table {
	border: 1px solid #ddd;
	border-collapse: separate;
	border-radius: 5px;
}

.grid-view table thead th:first-child {
	border-top-left-radius: 5px;
}

.grid-view table tbody td:first-child {
	border-bottom-left-radius: 5px;
}

.grid-view table thead th:last-child {
	border-top-right-radius: 5px;
}

.grid-view table tbody td:last-child {
	border-bottom-right-radius: 5px;
}

.grid-view table th {
	background-clor: #f1f1f1;
	background-repeat: repeat;
	background-position: 0 0;
	background-image: linear-gradient(to top, #ECECEC, #F9F9F9);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.grid-view table thead a:hover,
.grid-view table thead a:active {
	text-decoration: none;
}

.grid-view .bulk-actions button {
	margin-left: 8px;
}

.grid-view .file-icon-column {
	width: 60px;
	text-align: center;
}

.grid-view .username-column,
.grid-view .datetime-column {
	width: 10em;
}

.grid-view .input-column > [name^=weight] {
	width: 2em;
}

.grid-view .toggle-column {
	width: 5em;
}

.grid-view .toggle-column i {
	font-size: 1.5em;
}

.grid-view .id-column {
	width: 5em;
}

.grid-view .status-column {
	width: 8em;
}

.grid-view tr.odd {
	background-color: #fff;
}

.grid-view tr.even {
	background-color: #f6f6f6;
}

.grid-view tr.level-1 .title-column {
	text-indent: 1em;
}

.grid-view tr.level-2 .title-column {
	text-indent: 2em;
}

.grid-view tr.level-3 .title-column {
	text-indent: 3em;
}

.grid-view tr.level-4 .title-column {
	text-indent: 4em;
}

.grid-view tr.level-5 .title-column {
	text-indent: 5em;
}

.grid-view tr .icon-move {
	cursor: move;
}

.detail-view {
	border: 1px solid #ddd;
}

.form-actions.fixed {
	position: fixed;
	z-index: 100;
	bottom: 0;
	margin-bottom: 0;
}

form .alert {
	margin-top: 10px;
}

form .media-info .label {
	margin-right: 10px;
}

form .cke {
	margin-bottom: 10px;
}

.filter-form .control-group {
	margin-bottom: 5px;
}

.media-info .media-icon {
	float: left;
	margin-bottom: 10px;
}

.media-info .caption ul {
	clear:left;
	margin-left: 0;
}

.media-info .caption li {
	margin-bottom: 5px;
}

.media-info .caption input.clone {
	cursor: text;
}

#form-side.affix {
	top: 60px;
}

body.none {
	background-color: #f5f5f5;
}

body.none .signin-actions {
	margin: 9px 0 0;
}

body.none .signin-content h1 {
	font-weight: normal;
}

body.none .navbar-inner {
	border-radius:0;
}

body.none .signin-content {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 5em auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

body.none form {
	margin-bottom: 0;
}

body.none .error-content {
	margin: 5em auto;
	text-align: center;
}

body.none .error-content h1 {
	margin-bottom: .5em;
	font-size: 120px;
	line-height: 1em;
}

body.none .error-content .error-message {
	margin: 2em 0;
}

body.none .error-content .error-actions .btn {
	margin-right: .5em;
}